.filterBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  margin: 40px 20px;
}

@media (min-width: 768px) {
  .filterBar {
    display: flex;
    flex-direction: row;
  }
}
