.selectRegion_Container {
  display: flex;
  flex-direction: column;
  margin: 15px 20px;
  width: 50%;
}

.filterRegion {
  padding: 10px 10px;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-family: inherit;
  letter-spacing: 0.8px;
  line-height: 1.2;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.1s ease;
}

.filterRegion:focus {
  outline: none;
}

@media (min-width: 768px) {
  .selectRegion_Container {
    width: 15%;
  }
}

@media (min-width: 667px) {
  .selectRegion_Container {
    width: 22%;
  }
}
